@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.registration-screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

.card-container {
  width: 450px; 
}

.card {
  border: 2px solid #95D5B2; 
  border-radius: 10px; 
  /* padding: 0 30px 30px 30px; */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-rest{
  padding: 0 30px 30px 30px;
}

.card-name{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-size: 22px;
  margin-bottom: 15px;
  color: #3498db;
}

.toggle-container {
  margin: 0;
  width: 100%;
  height: 2em;
  display: flex;
  text-align: center;

}

.toggle-button {
  /* padding: 5px 10px; */
  /* border-radius: 7px;  */
  width: 50%;
  cursor: pointer;
  flex: 1; 
  cursor: pointer;
  /* border: 1px solid #ccc; */
  background-color: #fff;
  box-sizing: border-box; 
}

.toggle-button.active {
  background-color: #95D5B2;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.button-group {
  display: flex;
  flex-direction: column; 
  margin-top: 15px;
}

.button-one {
  padding: 12px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  background-color: #52B788; 
  color: #fff; 
}

button:hover {
  background-color: #95D5B2; 
}



.not-registered,
.signup-link {
  margin: 0; 
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 10px; 
}

.signup-link {
  color: #3498db;
  cursor: pointer;
  margin-left: 5px;
}

.signup-link:hover {
  color: #2980b9;
}

.signup-card{
  border: 2px solid #95D5B2; 
  border-radius: 10px; 
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 400px;
  margin: auto;
  margin-top: 100px;
}

.sideimage{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;

}
.img-one{
  height: 8rem;
  width: 8rem;
  margin-top: 1rem;
  /* width: 130px; */
  margin-right: 0;
  margin-left: 0;
}
.button-container{

  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color:green;
  padding: 5px;
  border-color: black;
}
.login{
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 25px;

  color: white;
  /* background-color:red; */
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.login:hover{
background-color: transparent;
color: white;
transform: scale(1.3);
}
.banner{
  padding: 80px;
  background: url(../public/images/hpfarmer3.png);
  height: 120%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* margin: 10px; */
}

.footer {
  background-color: #24262b;
  padding: 70px;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  color: #ffffff;
  width: 50%;
  /* box-sizing: border-box; */
  padding: 0 15px;
  margin-bottom: 30px;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative; 
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #e91e63;
  height: 2px;
  width: 100%; 
}


.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links {
  display: flex;
  justify-content: flex-start;
  /* padding-left: 30px;
  margin-top: 10px; */
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
